.wrapper{
    background-color: #132624;
    width: 100%;
    height: 100%;
}

.topo{
    position: absolute;
    width: 100%;
    height: 170px;
    left: 0px;
    top: 0px;   
    background: #475047;
}

.loud{
    position: absolute;
    width: 499px;
    height: 126px;
    left: 799px;
    top: -120px;
    font-family: monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 155px;
    color: #34D32E;

}

.logo{
    position: absolute;
    width: 15%;
    height: 170px;
    left: 0px;
    top: 0px;
    background: radial-gradient(50% 50% at 50% 50%, #2DEC23 0%, rgba(45, 236, 35, 0) 100%);
    background-color: #132624;
}

.menu{
    position: absolute;
    width: 15%;
    height: 78.5%;
    left: 0px;
    top: 170px;   
    background: #475047;   
}

.rodape{
    
}

.corpo{
    position:;
    width: 100%;
    height: 100%;
    background-color: #132624;
}

#logo{
    position: relative;
    width: 80%;
    height: 101%;
    left: 30px;
    top: 0;    
}

#topo{
    position: absolute;
    width: 285px;
    height: 297px;
    left: 0px;
    top: -62px;
}

.textomenu{
    text-align: center;
    font-family: Verdana;
    color: #ffffff;
}

.imagemmenu{
    height:100%;
    width:100%;
}